[submodule "lib/panoptic-v1-core"]
	path = lib/panoptic-v1-core
	url = https://github.com/panoptic-labs/panoptic-v1-core
[submodule "packages/uniswap-v3-sdk/contracts/lib/forge-std"]
	path = packages/uniswap-v3-sdk/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
